:root {
    --primary-color: #ffe150;
    --secondary-color: #ffd60c;
    --border-color: rgb(235, 235, 235);
    --incorrect-color: rgb(235, 154, 148);
    --correct-color: rgb(159, 212, 159);
    --neutral-color: rgb(77, 69, 69);
    --hover-color: rgb(216, 205, 205);
    --clicked-color: #ff3131;
    --white-color: #fff;
    --black-color: #000;
}

.body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__banner {
    background-image: url('images/banner.jpg');  
    width: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 469px) {
    .app__banner {
        height: 180px;
        background-size: contain;
        background-position: left top;
    }
}

@media screen and (min-width: 470px) {
    .app__banner {
        background-size: cover;
        height: 320px;
        background-position: left center;
    }
}

.app__text {
    color: var(--black-color);
    padding: 15px;
}

.app__question {
    font-weight: 700;
    display: flex;
    padding: 5px 0;
    color: var(--black-color);
}

.app__answers {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    margin: 3px;  
}

.app__scope, .app__modes {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    margin: 3px;  
}

.app__scope, .app__modes {
    cursor: pointer;
}

.app__scope:hover, .app__modes:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.app__mode, .app__all-answers, .app__scopes {
    border: 1px solid var(--border-color);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;  
}

.buttons {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
}

.buttons__button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    color: var(--white-color);
}

.buttons__button:hover {
    background-color: var(--secondary-color);    
}

.hidden {
    display: none;
}

.mark-clicked {
    background-color: var(--clicked-color);
}

.mark-unclicked {
    background-color: var(--primary-color);
    color: var(--black-color);
}

.mark-incorrect {
    background-color: var(--incorrect-color);
}

.mark-correct {
    background-color: var(--correct-color);
}

.mark-neutral {
    background-color: var(--neutral-color);
    cursor: pointer;    
}

.mark-neutral:hover {
    background-color: var(--hover-color);
}
