.app__text {
    color: red;
    padding: 5px 0;
}

.app__question {
    font-style: italic;
    padding: 5px 0;
    color: blue;
}

.app__scopes, .app__modes {
    cursor: pointer;
}

.hidden {
    display: none;
}


.app__answers {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  
}

.app__scopes, .app__modes {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  
}

.mark-clicked {
    background-color: rgb(39, 83, 119);
}

.mark-unclicked {
    background-color: rgb(145, 189, 224);
}

.mark-incorrect {
    background-color: rgb(235, 154, 148);
}

.mark-correct {
    background-color: rgb(159, 212, 159);
}

.mark-neutral {
    background-color: rgb(77, 69, 69);
    cursor: pointer;
    
}

.mark-neutral:hover {
    background-color: rgb(216, 205, 205);

}
