.body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.app__mode, .app__all-answers, .app__scopes {

    border: 1px solid rgb(235, 235, 235);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
flex-wrap: wrap;

  
}

.buttons {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;

}

.buttons__button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(145, 189, 224);
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    color: white;
}

.buttons__button:hover {
    background-color: rgb(87, 135, 172);
    
}

.app__text {
    color: black;
    padding: 5px 0;

}

.app__question {
    font-weight: 700;
    display: flex;
    padding: 5px 0;
    color: black;
}

.app__scope, .app__modes {
    cursor: pointer;
}

.app__scope:hover, .app__modes:hover {
    cursor: pointer;
    background-color: rgb(87, 135, 172);
}

.hidden {
    display: none;
}


.app__answers {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    margin: 3px;

  
}

.app__scope, .app__modes {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    margin: 3px;

  
}

.mark-clicked {
    background-color: rgb(39, 83, 119);
}

.mark-unclicked {
    background-color: rgb(145, 189, 224);
}

.mark-incorrect {
    background-color: rgb(235, 154, 148);
}

.mark-correct {
    background-color: rgb(159, 212, 159);
}

.mark-neutral {
    background-color: rgb(77, 69, 69);
    cursor: pointer;
    
}

.mark-neutral:hover {
    background-color: rgb(216, 205, 205);

}

